body{
    background-image: linear-gradient(to right top, #d7dde6, #c3ccd8, #b0baca, #9daabc, #8a99ae);
}
mat-card{
    height: 90vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin-left: 24%;
    
}
mat-card-title{
    flex-direction: column;
}
button{
    margin-left: 28%;
}
