<div class="nav">
<button mat-button routerLink="/">Home</button>
<button mat-button routerLink="/news" routerLinkActive="active">News</button>
<button mat-button routerLink="/weather" routerLinkActive="active">Weather</button>
<button mat-button routerLink="/chat" routerLinkActive="active">Chat</button>
<button mat-button routerLink="/value" routerLinkActive="active">Money</button>
<button mat-button routerLink="/about">About us</button>
<button mat-button routerLink="/contact">Contact</button>
<button mat-button routerLink="/login">Log In</button>
<button mat-button routerLink="/register">Register</button>


</div>
<router-outlet></router-outlet>