 <br>
 <mat-card>
  <div class="col-sm-12" style="text-align:center;">
    Register
  </div>
  <br>
 <div class="col-sm-12">
    <form [formGroup]="registerForm">
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="email" formControlName="email" autocomplete="off" required>
        </mat-form-field>
    </p>

      <p>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" autocomplete="off" required>
        </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" formControlName="password" autocomplete="off" required>
      </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="password" formControlName="cpass" autocomplete="off" required>
    </mat-form-field>
</p>
      <div class="form-group" style="text-align:center;">
          <button mat-raised-button color="primary" (click)="register()">Register</button>
          <div class="left"></div><br>
          <button mat-raised-button color="accent" (click)="moveToLogin()">Log in</button>
      </div>
    </form>
  </div>
</mat-card>
<br><br>

<app-footer></app-footer>