<br>
<mat-card>
<div *ngIf="!isSignedIn">
  <h2>Register</h2>
  <label for="fname">Email:</label><br>
  <input type="text" #emailSignup/><br>
  <label for="fname">password:</label><br>
  <input type="password" #passwordSignup/><br>
  <label for="fname">password confirm:</label><br>
  <input type="password" /><br>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Register</button>
</div>
<app-user-screen *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-user-screen>
</mat-card>
<br><br>
<app-footer></app-footer>